<app-header></app-header>
<main>
  <section class="home-header">
    <section class="sub-header">
      <div>
        <img src="assets/images/user.svg" alt="User Logo">
        <span>New Client</span>
      </div>
    </section>
  </section>
  <form [formGroup]="clientForm" class="client-form" (ngSubmit)="handleSubmit()">

    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">

    <label for="cnpj">CNPJ</label>
    <input id="cnpj" type="text" formControlName="cnpj">

    <label for="status">Status</label>
    <select id="status" (change)="handleStatusChange($event)" formControlName="status">
      <option *ngFor="let item of Status" [ngValue]="item">{{item}}</option>
    </select>
    <custom-button [text]="newClientButton" [domClass]="newButtonClass" [buttonType]="newButtonType"></custom-button>
  </form>
</main>
